<ul>
  <li class = "insta-logo"> 
  	<a href="https://www.instagram.com/kelvinconsultants" target="_blank">
    	<img src="../../assets/images/instagram.png" /><span></span>
    </a>
  </li>
    <li class = "insta-logo"> 
  	  	<a href = "https://twitter.com/KelvinEnergy" target="_blank">
  		<img src="../../assets/images/twitter-icon.png" />
  	</a>
  </li>
  <li class="insta-logo">
  	<a href = "https://www.facebook.com/Kelvin-Consultants-111490293622104" target="_blank">
  		<img src="../../assets/images/facebook-icon.png" />
  	</a>
  </li>
  <li class="insta-logo">
  	<a href = "https://www.google.com/maps/place/Kelvin+Consultants/@-30.7056112,117.9067423,4z/data=!3m1!4b1!4m5!3m4!1s0x2a32a314d98c7563:0xc6e3dba18f64df92!8m2!3d-31.99852!4d136.0141176" target="_blank">
  		<img class = "location-icon" src="../../assets/images/location-icon.png" />
  		Perth, WA 6000
  	</a>
  </li>
  <!-- add in these elements once we're ready to launch the Kelvin App
  <li class="terms"><a routerLink="/policy">PRIVACY POLICY</a></li>
  <li class="privacy"><a routerLink="/termsofuse">TERMS OF USE</a></li>
-->

</ul>
