.kc-content {
  border: 6px solid rgba(232, 131, 59, 0.8);
  background: rgba(255, 255, 255, 0.8);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  height: 100%;
}

@media (max-width: 576px) {
  .kc-content {
    border: 5px solid rgba(232, 131, 59, 0.8);
    background: rgba(255, 255, 255, 0.8);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    height: 100%;
  }
}
