<meta name="robots" content="noindex">
<div class="page">
  <div class="row justify-content-md-center justify-content-lg-center ml-2 mr-2">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-6 mt-4">
      <div class= "newsCard">
          <div class="news-heading">
            {{ content.heading }}
          </div>
          <div class="news-text">
          <p>The Kelvin App is slated for release in late 2019, however we'll be
           conducting some Alpha testing with various building companies and architectural
           firms over the next few months to get feedback from our primary users. If you'd
            like to have early access to the app and give us feedback on its use, <a href="mailto:app%40kelvinconsultants.com.au?subject= Request for Kelvin App Early Access&body=Hi there,%0A%0AI'd like to be a part of the Kelvin App early access testing. Please register my interest for when this becomes available. ">register your interest here.</a></p>
          </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-6 mt-4">
      <div class ="newsCard">
        <iframe id="instagram-embed-0" class="instagram-media instagram-media-rendered"  src="https://www.instagram.com/p/BiSs9WXAhuM/embed?utm_source=ig_embedembed/captioned/" scrolling="no" data-instgrm-payload-id="instagram-media-payload-0" frameborder="0"></iframe><script async src="//www.instagram.com/embed.js"></script>
      
      <div class="news-text"> Benefits of Energy Efficient Design Part 3: Financial Savings 💲💲💲 Often when talking to people with a slightly negative view of the thermal efficiency requirements in the National Construction Code, a common idea is they feel these requirements make the building process more expensive. We can certainly see why they might feel that way, as some designs do require expensive upgrades to achieve conpliance. However, with larger sample sizes it&#39;s evident that designing for thermal efficiency actually saves money. How? Watch this video to find out! Also, be sure to look out for our next video which will explain an important concept in thermally efficient design! 
      </div>
      <p style=" color:rgba(56, 141, 230, 1); font-family:Segoe UI,sans-serif; font-size:12px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:15px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by 
      <a href="https://www.instagram.com/kelvinconsultants/" style=" color:rgba(56, 141, 230, 1); font-family:Segoe UI,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> Kelvin Consultants</a> (@kelvinconsultants) on <time style=" font-family:Segoe UI,sans-serif; font-size:14px; line-height:17px;" datetime="2018-05-02T22:46:19+00:00">May 2, 2018 at 3:46pm PDT</time>
    </div>
    </div> 
</div>

</div>
