<div class="page">
  <div class = "container">
      <div class="row justify-content-center pt-3 mr-sm-1 ml-sm-1 mr-md-2 ml-md-2 mr-lg-2 ml-lg-2 mr-xl-2 ml-xl-2 ">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-xl-4 mt-2">
          <app-card>  
              <img  src="../../assets/images/{{ servicesList[0].icon }}" alt="" />
              <div class="service-heading0">
                {{ servicesList[0].heading }}
              </div>
              <div class="service-text0">
              {{ servicesList[0].text }}
            </div>
          </app-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-xl-4 mt-2">
        <app-card>
          <img class="kc" src="../../assets/images/{{ servicesList[1].icon }}" alt="" />
          <div class="service-heading1">
          {{servicesList[1].heading }} 
          </div>
          <div class="service-text1">
          {{ servicesList[1].text }}
          </div>
           <div class="service-title"> 
            <a routerLink= "/contact">{{servicesList[1].Title}}</a>
          </div>
        </app-card>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-xl-4 mt-2">
      <app-card>
        <img src="../../assets/images/{{ servicesList[2].icon }}" alt="" />
        <div class="service-heading2">
          {{ servicesList[2].heading }}
        </div>
        <div class="service-text2">
        {{ servicesList[2].text }}
      </div>
      </app-card>
      </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-xl-4 mt-2">
    <app-card>
      <img src="../../assets/images/{{ servicesList[3].icon }}" alt="" />
      <div class="service-heading3">
        {{ servicesList[3].heading }}
      </div>
      <div class="service-text3">
      Custom designs sometimes require a custom assessment. When Star or Deemed to Satisfy methods produce less than favourable results,
      we can use a Performance Solution assessment to find a better outcome. This is one of the competitive advantages we feel help distinguish us as technical experts in our field. 
      <a routerLink="/contact">Contact</a> us to find out if a Performance Solution can help you achieve compliance on your next project. 
    </div>
    </app-card>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-xl-4 mt-2">
    <app-card>
      <img src="../../assets/images/{{ servicesList[4].icon }}" alt="" />
      <div class="service-heading4">
        {{ servicesList[4].heading }}
      </div>
      <div class="service-text4">
      {{ servicesList[4].text }}
    </div>
    </app-card>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-xl-4 mt-2">
    <app-card>
      <img src="../../assets/images/{{ servicesList[5].icon }}" alt="" />
      <div class="service-heading5">
        {{ servicesList[5].heading }}
      </div>
      <div class="service-text5">
      {{ servicesList[5].text }}
    </div>
    </app-card>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-6 mb-xl-4 mt-2">
    <app-card>
      <img src="../../assets/images/{{ servicesList[6].icon }}" alt="" />
      <div class="service-heading6">
        {{ servicesList[6].heading }}
      </div>
      <div class="service-text5">
      {{ servicesList[6].text }}
    </div>
    </app-card>
    </div>


    </div>
  </div>
</div>