<div class="kc-home">
  <div class = "container-fluid">
  <div class="row  flex-xl-row justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-start">
    <div class = "col-xs-12 col-sm-10 col-md-10 col-lg-12 col-xl-6 ml-md-4 ml-lg-4 ml-xl-4 mt-md-4 mt-lg-4 mt-xl-4 mr-md-4 mr-lg-4 mt-4 ml-sm-1 mr-sm-1">
    <app-card>
      <div class="kc-heading">
        {{ heading }}
      </div>
      <div class="kc-para">
      At Kelvin Consultants, <span style= "font-weight: 515">we provide energy efficiency reports</span> and design consultation
      for <span style= "font-weight: 515"> residential</span> and <span style= "font-weight: 515">commercial </span>construction projects across Australia. Our services include <span style= "font-weight: 515"> 6 star NatHERS assessments, Deemed to Satisfy and Performance Solution reports. </span> You can view our fee structure on our  <a routerLink="/pricing">pricing page</a>. 
      <br><br>
      Our goal is to find the best energy compliance
      solution through friendly communication, diligence and our in-depth knowledge of thermal
      design principles. We strive for customer satisfaction, and enjoy building good
      relationships with our clients. Please take a few minutes to familiarise yourself with our full range of <a routerLink="/services">services</a> to see if we can help you on your next project.
      </div>
    </app-card>
  </div>
  </div>
</div>
</div>
